<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <title>Welcome Page</title>

    <base href="/">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="/css/welcomepage.css" th:href="@{/css/welcomepage.css}" >

    </head>

    <body>
        <div id="background" class="background">
            <div id="rectangle" class="rectangle">
                <img src="/assets/globe.png" alt="LocationSearch" class="icon">
                <br><br>

                <form action="/action_page.php">
                    <input type="text" id="username" name="username" placeholder="Username"><br><br>
                    <input type="password" id="password" name="password" placeholder="Password"><br><br>
                    <input type="submit" value="Login" class="login">
                </form>

                <button class="signup" onclick="location.href='/signup'">Sign up</button>
                
                <button onclick="location.href='/main'" class="continueAsGuest">Continue as guest</a>
            </div>
        </div>
    </body>
</html>