<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
    <title>Main Page</title>

    <base href="/main">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link type="text/css" rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" >

	<script type="text/javascript" th:src="@{/js/main.js}"></script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz7LIvDTKr0pbMcf5B2BxHNApsu5LqYF0&libraries=places&callback=initMap"></script>
    </head>

    <body>     
        <div id="background" class="background">    	

    	 <div id="searchrectangle" class="searchrectangle">    	
                <form>
                    <input type="text" id="latitude" name="latitude" placeholder="latitude">
                    <input type="text" id="longitute" name="longitute" placeholder="longitute">
                    <input type="text" id="range" name="range" placeholder="range">                    
                </form>
                <button value="Search" class="searchbutton" onclick="loadUserInputMap()">Search</button>
         </div>
         
         <div id="maprectangle" class="maprectangle">
            <h1>This is main page</h1>
         </div>
         
          <div id="resultsrectangle" class="resultsrectangle">
         	<h5>Search results:</h5>
         	<ul class="list-group" id="resultslist">
         	</ul>
         </div>
         
         <div id="historyrectangle" class="historyrectangle">
         	<h5>Suggested search queries:</h5>         	
         </div>
                
         <button onclick="location.href='/'" class="backToLogin">Return to login page</a>	
    
    </body>
</html>